<div class="align">
    <div><p class="titleSpotify">Welcome Spotify!</p></div>

    <div id="container">
        <form id="search_area" action="/artist-search" , method="GET">
            <label> <input type="text" name="artist" /></label>
            <button type="submit">Search for an artist</button>
        </form>
    </div>
</div>